<div id="<%= dom_id space %>">
  <p>
    <strong>Client:</strong>
    <%= space.client_id %>
  </p>

  <p>
    <strong>Room size:</strong>
    <%= space.room_size %>
  </p>

  <p>
    <strong>Image 1:</strong>
    <%= space.image_1 %>
  </p>

  <p>
    <strong>Image 2:</strong>
    <%= space.image_2 %>
  </p>

  <p>
    <strong>Image 3:</strong>
    <%= space.image_3 %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= space.description %>
  </p>

  <p>
    <strong>Price per hour:</strong>
    <%= space.price_per_hour %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= space.status %>
  </p>

  <p>
    <strong>Space category:</strong>
    <%= space.space_category %>
  </p>

</div>
