<div id="<%= dom_id selected_amenity %>">
  <p>
    <strong>Reservation:</strong>
    <%= selected_amenity.reservation_id %>
  </p>

  <p>
    <strong>Amenity:</strong>
    <%= selected_amenity.amenity_id %>
  </p>

  <p>
    <strong>Quality:</strong>
    <%= selected_amenity.quality %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= selected_amenity.description %>
  </p>

</div>
